<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cscodetech.townclap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="www.justme.co.in.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TownClap"
        android:usesCleartextTraffic="true">
        <activity
            android:name="www.justme.co.in.activity.ExportActivity"
            android:exported="true" />
        <activity
            android:name="www.justme.co.in.activity.HearExportListActivity"
            android:exported="true" />
        <activity
            android:name="www.justme.co.in.activity.HearCategotyActivity"
            android:exported="true" />
        <activity
            android:name="www.justme.co.in.activity.HearActivity"
            android:exported="true"
            android:theme="@style/Theme.Intro" />
        <activity android:name="www.justme.co.in.activity.SearchActivity" />
        <activity android:name="www.justme.co.in.activity.BookingDetailActivity" />
        <activity android:name="www.justme.co.in.activity.ResedulActivity" />
        <activity android:name="www.justme.co.in.activity.BookingActivity" />
        <activity android:name="www.justme.co.in.activity.NotificationActivity" />
        <activity android:name="www.justme.co.in.activity.ReferlActivity" />
        <activity android:name="www.justme.co.in.activity.WalletActivity" />
        <activity android:name="www.justme.co.in.activity.TimeSlotActivity" />
        <activity android:name="www.justme.co.in.activity.CartActivity" />
        <activity android:name="www.justme.co.in.activity.BasicActivity" />
        <activity android:name="www.justme.co.in.activity.AddOnsActivity" />
        <activity android:name="www.justme.co.in.activity.ItemListActivity" />
        <activity
            android:name="www.justme.co.in.activity.SubCategoryActivity"
            android:theme="@style/Theme.Intro" />
        <activity android:name="www.justme.co.in.activity.SubCategoyTypeActivity" />
        <activity android:name="www.justme.co.in.activity.ServiceAllActivity" />
        <activity android:name="www.justme.co.in.activity.DynamicAllActivity" />
        <activity
            android:name="www.justme.co.in.activity.SearchLocationActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name="www.justme.co.in.activity.LoginActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name="www.justme.co.in.activity.VerifyPhoneActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name="www.justme.co.in.activity.HomeActivity"
            android:theme="@style/Theme.Intro" />
        <activity android:name="www.justme.co.in.activity.AddressActivity" />
        <activity android:name="www.justme.co.in.activity.RazerpayActivity" />
        <activity android:name="www.justme.co.in.activity.PaypalActivity" />
        <activity android:name="www.justme.co.in.activity.SettingActivity" />
        <activity android:name="www.justme.co.in.activity.PrivecyPolicyActivity" />
        <activity android:name="www.justme.co.in.activity.AboutsActivity" />
        <activity android:name="www.justme.co.in.activity.IntroActivity" />
        <activity android:name="www.justme.co.in.activity.TramsAndConditionActivity" />
        <activity android:name="www.justme.co.in.activity.ContectusActivity" />
        <activity android:name="www.justme.co.in.activity.EditProfileActivity" />
        <activity android:name="www.justme.co.in.activity.ForgotActivity" />
        <activity android:name="www.justme.co.in.activity.ChanegPasswordActivity" />

        <activity
            android:name="www.justme.co.in.locationpick.LocationGetActivity"
            android:theme="@style/Theme.Intro" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity
            android:name="www.justme.co.in.activity.FirstActivity"
            android:theme="@style/Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="www.justme.co.in.MainActivity" />
    </application>

</manifest>